/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: $content-width;
  }
}

/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */

.all-pad-15 {
    padding: 15px;
}

.btn-info {
    background-color: rgb(62,195,246);
    border-color: rgb(62,195,246);
    
    &:visited {
        color: #fff;
    }
}

.navbar-inverse {
  background: rgba(62,195,246,0);
  border-bottom: none;
  border-color: transparent !important;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255,255,255,0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
   @media (max-width: 767px) {
     background: rgba(255,255,255,0.75);
   }
}
.navbar-inverse .navbar-nav > li > a {
color: black;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
//color: #22F;
color: #FFF;
}
ul.nav {
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    position: absolute;
  }

.small-logo > a {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
  &:hover {
      color: white;
  } 
}

.big-logo > a {
  color: white;
  
  &:hover {
      color: white;
  } 
  
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: url("/images/titlebar.jpeg") no-repeat center;
  color: #FFF;
  
  .big-logo-container {
    padding-top: $navbar-height;
  }
  
  h1 {
    font-size: 4em;
    margin:0;
    padding:0 0 0 0;
    
    @media (min-width: 400px) { font-size: 4.5em; }
    @media (min-width: 440px) { font-size: 5.5em; }
    @media (min-width: 500px) { font-size: 6.5em; }
    @media (min-width: 630px) { font-size: 7.5em;  }
    @media (min-width: 768px) { font-size: 9em;  }
    @media (min-width: 1200px) { font-size: 12em; }
  }
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #FFF;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Blog Home */
.logo {
    a:visited {
        color: white;
    }
}

.exerpt {
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    
    img{
        padding: 7px 10px 0 0;
    }
}
.read-more {
        padding-top: 7px;
}
.tags{
    padding-top: 15px;
    font-weight: bold;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}