<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 blog-main">
                <!-- This loops through the paginated posts -->
                {% for post in paginator.posts %}
                <div class="blog-post col-sm-12">
                    <a  href="{{ post.url }}#disqus_thread"><h2 class="blog-post-title">{{ post.title }}</h2></a>
                    <p class="blog-post-meta"> {{ post.date | date_to_string }} by {{post.author}}</p>
                    <div class="col-sm-10 exerpt">    
                        {% if post.featured_image %}
                        <a  href="{{ post.url }}"><img class="col-sm-3" src="{{post.featured_image }}"/></a>
                        {%endif%}
                        <p>{{ post.content | strip_html | truncatewords:100}} <a  href="{{ post.url }}">Read More</a></p>
                    </div>
                    <div class="col-sm-8 tags">
                        {% for tag in post.tags %}
                            <span>{{tag | upcase}}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blog-main">
                <nav>
                    <ul class="pager">
                        {% if paginator.previous_page %}
                        <li class="previous"><a href="{{ paginator.previous_page_path }}">Newer</a></li>
                        {% endif %}
                        <li class="list-unstyled"> <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> </li>
                        {% if paginator.next_page %}
                        <li class="next"><a href="{{ paginator.next_page_path }}">Older</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div> <!-- /.blog-main -->
        </div> <!-- / .row -->
    </div> <!-- /.container -->
    
    {% include footer.html %}

  </body>

</html>
