---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title" itemprop="name headline">{{ page.title }}</h2>
                <p class="blog-post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
                
                {{ page.content  }}
            </div>
        </div> <!-- / .blog-main -->
    </div>
</div>
